<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpg" id="fotoperfil" class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Manjon Leo</p>
        <p>Full Stack Developer jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8t77">
        <h1>Acerca de mi</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quo repudiandae numquam, similique dolor facilis nobis aliquid tempora nisi fugiat sunt nesciunt accusantium neque ullam delectus dolorum at eius assumenda!</p>
    </div>
</div>