.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logoap{
    width: 150px;
}

img {
    width: 50px;
}

.redes{
    margin-right: 0.5em;
}

.btn{
    border-width: medium;
}