<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>estudio1</h1> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt recusandae, est laboriosam mollitia molestias rem corrupti, eius sit magni voluptates natus blanditiis, quos vero architecto doloribus! Architecto amet commodi perspiciatis.</p>
        </ul>
        <ul>
            <li>
                <h1>estudio2</h1> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt recusandae, est laboriosam mollitia molestias rem corrupti, eius sit magni voluptates natus blanditiis, quos vero architecto doloribus! Architecto amet commodi perspiciatis.</p>
        </ul>
        <ul>
            <li>
                <h1>estudio3</h1> - <h3>años</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt recusandae, est laboriosam mollitia molestias rem corrupti, eius sit magni voluptates natus blanditiis, quos vero architecto doloribus! Architecto amet commodi perspiciatis.</p>
        </ul>
    </div>
</div>